@{
    ViewData["Title"] = "Home Page";
}

@using LostInTheWoods.Models
@model LostInTheWoods.Models.Trail
<div class="container">
    <h3>Add a New Trail</h3>
    <div class="row">
        <form asp-controller="Home" asp-action="AddTrail" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <span asp-validation-for="Name"></span>
                    <label asp-for="Name"></label>
                    <input asp-for="Name">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <span asp-validation-for="Length"></span>
                    <label asp-for="Length"></label>
                    <input asp-for="Length">
                </div>
                <div class="input-field col s6">
                    <span asp-validation-for="Elevation"></span>
                    <label asp-for="Elevation"></label>
                    <input asp-for="Elevation">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <span asp-validation-for="Latitude"></span>
                    <label asp-for="Latitude"></label>
                    <input asp-for="Latitude">
                </div>
                <div class="input-field col s6">
                    <span asp-validation-for="Longitude"></span>
                    <label asp-for="Longitude"></label>
                    <input asp-for="Longitude">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <span asp-validation-for="Description"></span>
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="right-align">
                <button type="submit" class="waves-effect waves-light btn btn-color">Add Trail</button>
            </div>
        </form>
    </div>
</div>