@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>All Trails</h2>
        <ul>
            <li><a href="/Trails">View all trails that have been added</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Add Trail</h2>
        <ul>
            <li><a href="/NewTrail">Add a new trail for others to see</a></li>
        </ul>
    </div>
</div>
