html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(28, 173, 88);
    color: white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    height: 100%;
    width: 100%
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
